.hero {
  width: 100%;
  height: 75vh;
  background: url("../../assets/heroImg.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Темний прозорий шар для контрасту */
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Контент */
.content {
  text-align: center;
  color: white;
  max-width: 640px;
  animation: fadeIn 1.2s ease forwards;
}

.title {
  font-size: 33px;
  font-weight: 800;
  margin-bottom: 14px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #e0e0e0;
}

.cta {
  /* padding: 14px 28px;
  font-size: 18px;
  background: #2b00ff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 700;
  transition: 0.3s; */
  display: inline-block;
  padding: 12px 28px;
  font-size: 16px;
  background: #0057ff; /* той самий синій, що і в картках */
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 700;
  transition: background 0.3s;
}

.cta:hover {
  background: #0040cc;
}

/* Анімація */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* === Tablet === */
@media (min-width: 768px) {
  .hero {
    height: 80vh;
  }
  .title {
    font-size: 42px;
  }

  .subtitle {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .cta {
    font-size: 18px;
    padding: 14px 32px;
  }
}

/* === Desktop === */
@media (min-width: 1024px) {
  .hero {
    height: 85vh;
  }

  .title {
    font-size: 52px;
  }

  .subtitle {
    font-size: 20px;
  }
}
